<% title "Paintings" %>
<div class="gallery">
<% for painting in @paintings %>
<div class="picture span-4">
  <%= link_to image_tag(painting.photo.url(:small)), painting %><br />
  <%=h painting.title %><br />
  <%=h painting.height %>"x<%=h painting.width %>"
  <%=h painting.year %><br />
</div>
<% end %>
</div>

<div class="span-16">
	<%= will_paginate @paintings, :class => "left" %>
	<% if current_user %>
	  <%= link_to "New Painting", new_painting_path, :class => "right" %>
	<% end %>
	&nbsp;
	<%= link_to '2000s', {:controller => :paintings, :action => :index, :year => 2000 } %>
	<%= link_to '1990s', {:controller => :paintings, :action => :index, :year => 1990 } %>
	<%= link_to '1980s', {:controller => :paintings, :action => :index, :year => 1980 } %>
	<%= link_to 'all', {:controller => :paintings, :action => :index } %>
</div>