<% title "Painting" %>
<div id="painting">
<%= image_tag @painting.photo.url(:medium) %>
<p>
  <%=h @painting.title %>
</p>
<p>
  <%=h @painting.description %>
</p>

<p>
  <% if current_user %>
    <%= link_to "Edit", edit_painting_path(@painting), :class => "crud" %> |
    <%= link_to "Destroy", @painting, :class => "crud", :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All", paintings_path %>
</p>
</div>