<% form_for @cvcat do |f| %>
<%= f.error_messages %>
<p>
  Category: <%= f.text_field :category %>
</p>

  <% f.fields_for :cventries do |entry_form| %>
  <%= render :partial => 'cventry', :locals => { :f => entry_form } %>
  <% end %>
<br />
<p><%= add_entry_link "New Entry", :cventries %></p>
<p><%= new_entry_fields_template(f, :cventries)%></p>
<p><%= f.submit "Submit" %></p>
<% end %>
