<%= form.error_messages %>
<p>
  Category: <%= form.text_field :category %>
</p>

<div id="entries">
  <% form.fields_for :cventries do |entry_form| %>
  <%= render :partial => 'entry', :locals => { :entry_form => entry_form } %>
  <% end %>
</div>
<br />
<p><%= add_task_link(form) %></p>
<p><%= form.submit "Submit" %></p>