<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jquery.corner', 'application' %>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">	
  <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= stylesheet_link_tag 'style' %>

	<title>Martin Lubner</title>
</head>
<body>
  
<div class="container">
<div class="box col1 span-4">
		<div class="title">
		<h2><%= link_to "Martin Lubner", root_url %></h2>
		</div>
		<ul>
			<li><%= link_to "Curriculum Vitae", cvcats_path %></li>
			<li><%= link_to "Paintings", paintings_path %></li>
		</ul>
</div>
<div class="box col2 span-17">
		<div id="content">
		  <%= yield %>
		</div>
</div>

</body>
</html>